<style type="text/css">
    .header {
      background: #8a8a8a;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
    .header .container {
      background: transparent;
    }
    table.button.facebook table td {
      background: #3B5998 !important;
      border-color: #3B5998;
    }
    table.button.twitter table td {
      background: #1daced !important;
      border-color: #1daced;
    }
    table.button.google table td {
      background: #DB4A39 !important;
      border-color: #DB4A39;
    }
    .wrapper.secondary {
      background: #f3f3f3;
    }
  </style>
  
  <container>
    <spacer size="16"></spacer>
    <row>
      <columns small="12">
        <h4>Subject: Invoice <%= result.invoice_no %></h4>
        <h5>Dear <%= result.customer.company_name %>,</h5>
        <p>
          I hope you are doing great!
        </p>  
        <p>
          I, Simran Jain , the Business Development Manager at TaskOPad Solutions Private Limited attaching Invoice of TaskOPad. Kindly have a look at it, and a gist of which is provided below. We are happy to have you as our prominent client.
        </p>  
        <h5>Invoice Details:</h5>
        <p>
          Invoice Number: <%= result.invoice_no %> <br>
          Invoice Date: <%= result.license_start_date %> <br>
          Due Date: <%= result.license_start_date %> <br>
          Total Amount: <%= result.receivable_amount %> <br>
        </p>
        <p>
          If you have any questions or concerns regarding the invoice, please don't hesitate to reach out to us.
        </p>
        <p>
          We kindly request that you make the payment by the due date mentioned.
        </p>
        <p>Thank you for your business and prompt attention to this matter.
        </p>
        <p>
          Thanks & Regards,<br>
          Simran Jain | Business Development Manager<br>
          TaskOPad Solutions Private Limited<br>
          Website: www.taskopad.com<br>
          Phone: +919898593359
        </p>
      </columns>
    </row>
  </container>